@model List<EX_Quessions.Models.Quession>
@{
}
@using (Html.BeginForm("CheckAnswers", "Form", null, FormMethod.Post, true,
new { role = "form col-sm-10" }))
{
    <h2>Заполните поля</h2><hr />
    <div class="form-group">
        <h4>@Model[0].Name</h4>
        <input type="text" name="CountMaterics" value="" class="form-control col-sm-2" />
    </div
> <div class="form-group">
    <h4>@Model[1].Name</h4>
    <input type="text" name="CountPlanet" value="" class="form-control col-sm-2" />
</div>
  <div class="form-group">
      <h4>@Model[2].Name</h4>
      <input type="text" name="Satellite" value="" class="form-control col-sm-2" />
  </div>
  <div class="form-group">
      <h4>@Model[3].Name</h4>
      <input type="text" name="DayProtect" value="" class="form-control col-sm-2" />
  </div>
  <div class="form-group">
      <h4>@Model[4].Name</h4>
      <input type="text" name="LastName" value="" class="form-control col-sm-2" />
  </div>
    <input type="text" hidden="hidden" name="TestingTime" value="@DateTime.Now.TimeOfDay" />
    <br />

    <button class="btn-outline-primary col-sm-2 form-control">Проверить</button>
}
